{% extends 'base.html' %}

{% block content %}
<style>
    .button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }
</style>

<div class="container my-5">
    <h1 class="text-center">{{user.username}}</h1>
    <h2 class="text-center">{{user.first_name}} {{user.last_name}}</h2>
    <h3 class="text-center">{{user.email}}</h3>

    <div class="button-container">
        <a href="/logout" class="btn custom-color btn-rounded mb-2">Log Out</a>

        <form action="/users/{{user.username}}/delete" method="POST">
            <button class="btn custom-color btn-rounded mb-2">Delete Account</button>
        </form>

        <a href="/" class="btn custom-color btn-rounded mb-2">Home</a>
    </div>

    <div id="cal-embed"></div>
</div>

<script>
    (function (C, A, L) {
        let p = function (a, ar) {
            a.q.push(ar);
        };
        let d = C.document;
        C.Cal =
            C.Cal ||
            function () {
                let cal = C.Cal;
                let ar = arguments;
                if (!cal.loaded) {
                    cal.ns = {};
                    cal.q = cal.q || [];
                    d.head.appendChild(d.createElement("script")).src = A;
                    cal.loaded = true;
                }
                if (ar[0] === L) {
                    const api = function () {
                        p(api, arguments);
                    };
                    const namespace = ar[1];
                    api.q = api.q || [];
                    typeof namespace === "string"
                        ? (cal.ns[namespace] = api) && p(api, ar)
                        : p(cal, ar);
                    return;
                }
                p(cal, ar);
            };
    })(window, "https://cal.com/embed.js", "init");
    Cal("init");
</script>

<div id="cal-embed"></div>
<script>
    Cal("inline", {
        elementOrSelector: "#cal-embed", // You can also provide an element directly
        calLink: "{{user.username}}", // The link that you want to embed. It would open https://cal.com/jane in embed
        config: {
            theme: "light", // "dark" or "light" theme
        },
    });
</script>
{% endblock %}